{% extends "base.html" %}
{% load tags_filters %}

{% block title %}Password reset confirmation{% endblock %}
{% block header %}Password reset confirmation{% endblock %}

{% block content %}
    {% if validlink %}
        <form method="post">
            <p>Repeat your password two times</p>
            {{ form|form_as_p }}
            <p class="form-submit-p"><input type="submit" value="Save password" ></p>
        </form>
    {% else %}
        <div>
            <p>This reset password token has expired</p>
            <p>Click <a href="{% url "login" %}">here</a> to go to log-in page</p>
        </div>
    {% endif %}
{% endblock %}